{% extends 'master.html' %} {% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><b>Mulberry Distribution</b></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href=" {% url 'index' %} ">Home</a>
            </li>
            <li class="breadcrumb-item active">Mulberry Distribution</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      {% if messages %} {% include 'message_alert.html' %} {% endif %}
      <form action=" {% url 'Form2' %} " method="post">
        {% csrf_token %}
        <!-- /.card 2 Start -->
        <div class="card card-info">
          <div class="card-header">
            <h2 class="card-title"><b>अंडीपुंज/चाकी वाटप तपशील </b></h2>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-md-3">
                    <label for="अंडीपुंज_जात">Farmer Registration No</label>
                    <div class="form-group">
                      <select
                        class="form-control select2bs4"
                        data-placeholder="Select a type"
                        style="width: 100%"
                        id="Reg_no"
                        name="Reg_no"
                        required
                      >
                        <option disabled selected>
                          Select Farmer Registration No
                        </option>
                        {% for results in reg_no %}
                        <option>{{ results.id }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <label for="name">Farmer Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      disabled
                    />
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <label for="name">Address</label>
                    <input
                      type="text"
                      class="form-control"
                      id="address"
                      name="address"
                      disabled
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-3">
                    <label for="village">Village</label>
                    <input
                      type="text"
                      class="form-control"
                      id="village"
                      name="village"
                      disabled
                    />
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <label for="taluka">Taluka</label>
                    <input
                      type="text"
                      class="form-control"
                      id="taluka"
                      name="taluka"
                      disabled
                    />
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <label for="district">District</label>
                    <input
                      type="text"
                      class="form-control"
                      id="district"
                      name="district"
                      disabled
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-12 col-md-3">
                    <label for="state">State</label>
                    <input
                      type="text"
                      class="form-control"
                      id="state"
                      name="state"
                      disabled
                    />
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <label for="yplant_areaear">Plantation Area</label>
                    <input
                      type="text"
                      class="form-control"
                      id="plant_area"
                      name="plant_area"
                      disabled
                    />
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <label for="plant_year">Plantation Year</label>
                    <input
                      type="text"
                      class="form-control"
                      id="plant_year"
                      name="plant_year"
                      disabled
                    />
                  </div>
                </div>
                <br />
                <hr />
                <div class="card card-primary">
                <div class="card-header">
                  <h2 class="card-title">
                    <b>अंडीपुंज/चाकी वाटप तपशील </b>
                  </h2>
                </div>
                <br />
                <br>
                <div class="card-body">
                <div class="row">
                  <div class="col-12 col-md-3">
                    <label for="ग्रेनेजचे_नाव">ग्रेनेजचे नाव</label>
                    <input
                      type="text"
                      class="form-control"
                      id="ग्रेनेजचे_नाव"
                      name="ग्रेनेजचे_नाव"
                      required
                    />
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <label for="अंडीपुंजपावती_क्रमांक"
                      >अंडीपुंजपावती क्रमांक</label
                    >
                    <input
                      type="number"
                      id="अंडीपुंजपावती_क्रमांक"
                      name="अंडीपुंजपावती_क्रमांक"
                      class="form-control"
                      required
                    />
                  </div>

                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <label for="दिनांक">दिनांक</label>
                    <input
                      type="date"
                      class="form-control"
                      id="दिनांक"
                      name="दिनांक"
                      required
                    />
                  </div>
                  <div class="col-md-1"></div>
                </div>
                <br />
                <div class="row">
                  <div class="col-12 col-md-3">
                    <label for="अंडीपुंज_जात">अंडीपुंज जात</label>
                    <div class="form-group">
                      <select
                        class="form-control select2bs4"
                        data-placeholder="Select a type"
                        style="width: 100%"
                        id="अंडीपुंज_जात"
                        name="अंडीपुंज_जात"
                        required
                      >
                        <option value="select">Select</option>
                        <option>Black Mulberry</option>
                        <option>Red Mulberry</option>
                        <option>Morus Alba</option>
                        <option>Morus serrata</option>
                        <option>Morus Australias</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <label for="अंडीपुंज_संख्या">अंडीपुंज संख्या</label>
                    <input
                      type="number"
                      class="form-control"
                      id="अंडीपुंज_संख्या"
                      name="अंडीपुंज_संख्या"
                      required
                    />
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <label for="चॉकी_सेंटरचे_नाव">चॉकी सेंटरचे नाव</label>
                    <input
                      type="text"
                      class="form-control"
                      id="चॉकी_सेंटरचे_नाव"
                      name="चॉकी_सेंटरचे_नाव"
                      required
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-3">
                    <label for="हॅचिंग_तारीख">हॅचिंग तारीख</label>
                    <input
                      type="date"
                      class="form-control"
                      id="हॅचिंग_तारीख"
                      name="हॅचिंग_तारीख"
                      placeholder="हॅचिंग_तारीख 20-2-2019"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card 2 -->
        <br />
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-1">
            <input
              type="submit"
              class="btn btn-block btn-primary"
              value="SAVE"
            />
          </div>
          <div class="col-md-1"></div>
          <br />
          <div class="col-md-1">
            <input
              type="reset"
              class="btn btn-block btn-danger"
              value="CANCEL"
            />
          </div>
        </div>
      </form>
      <br />
      <br />
    </div>
  </section>
</div>

{% endblock body %}
