
{% extends 'master.html' %}
{% block body %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">सर्व शेतकरी नोंदणी तपशील</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
        
  <!-- Main content -->
      <section class="content">
          <div class="container-fluid">
    {% if messages %}
            {% include 'message_alert.html' %}
        {% endif %}

            <div class="card card-primary">
              <div class="card-header">
                <h2 class="card-title"><b>सर्व शेतकरी नोंदणी तपशील</b></h2>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <form method="POST" action="{% url 'index' %}">
                      {% csrf_token %}
                    <div class="row">
                      <div class="col-12 col-md-3">
                        <div class="input-group input-group-sm">
                          <input
                            type="text"
                            placeholder=" Enter Registration Number"
                            class="form-control"
                            name="search"
                            id="farmer_search"
                            required
                          />
                          <span class="input-group-append">
                            <input
                              type="submit"
                              value="Search"
                              class="btn btn-success btn-flat"
                            />
                          </span>
                        </div>
                      </div>
                    </div>
                    </form>
                    <br />
                  </div>
                </div>
              </div>
            </div>
            <!-- Card 1 End-->
          </div>

          <br>
          <!--Table Row-->
          <div class="row">
            <div class="col-12">
              <div class="card">
                {% comment %} <div class="card-header bg-light">
                  <h3 class="card-title">
                    सर्व शेतकरी नोंदणी तपशील
                  </h3>
                </div> {% endcomment %}
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                    <thead>                 
                      <tr class="table-primary">
                         <th scope="row">रजिष्ट्रेशन नंबर</th>
                        <th>शेतकऱ्याचे नाव</th>
                        <th>शेतकर्‍याचा पत्ता</th>
                        <th>गाव</th>
                        <th>तालुका</th>
                        <th>जिल्हा</th>
                        <th>तुती लागवड क्षेत्र एकर</th>
                        <th>तुती लागवड वर्ष</th>
                        <th class="text-center">कृती</th>
                        
                      </tr>
                      
                    </thead>
                    <tbody>
                      {% if data %}
                        {% for farmer in data %}
                      <tr>
                        <td> {{farmer.id}} </td>
                        <td> {{farmer.farmer_name}} </td>
                        <td>{{farmer.address}}</td>
                        <td>{{farmer.village}}</td>
                        <td>{{farmer.taluka}}</td>
                        <td>{{farmer.district}}</td>
                        <td>{{farmer.area}}</td>
                        <td>{{farmer.year}}</td>
                        
                        <td>
                          <a href="{% url 'update_farmer' farmer.id %}" class="btn btn-info btn-sm btn-inline">अद्यतनित करा</a>
                            <form method="POST" action="{% url 'delete_farmer' farmer.id %}" class="d-inline">
                              {% csrf_token %}
                                <input type="submit" class="btn btn-danger btn-sm btn-inline" value="हटवा">
                            </form>
                        </td>
                      {% endfor %}
                      {% elif farmers %}
                        {% for farmer in farmers %}
                      <tr>
                        <td> {{farmer.id}} </td>
                        <td> {{farmer.farmer_name}} </td>
                        <td>{{farmer.address}}</td>
                        <td>{{farmer.village}}</td>
                        <td>{{farmer.taluka}}</td>
                        <td>{{farmer.district}}</td>
                        <td>{{farmer.area}}</td>
                        <td>{{farmer.year}}</td>
                        
                        <td>
                        <a href="{% url 'update_farmer' farmer.id %}" class="btn btn-info btn-sm">अद्यतनित करा</a>
                        <form method="POST" action="{% url 'delete_farmer' farmer.id %}" class="d-inline">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger btn-sm btn-inline" value="हटवा">
                        </form>
                        </td>
                        {% comment %} <td>
                        <form class="d-inline" action=" " method="post">
                          {% csrf_token %}
                          <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                        </form>
                        </td> {% endcomment %}
                      </tr>
                      {% endfor %}

                      {% else %}
                      <tr class="text text-danger bg-danger">
                        <td> No Record found !</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                      </tr>
                      {% endif %}                      
                    </tbody>
                  </table>
                </div>
      <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
          <!-- Card 1 End-->
        </div>
    </section>
</div>
{% endblock body %}




