
{% extends 'master.html' %}
{% block body %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
        
  <!-- Main content -->
      <section class="content">
          <div class="container-fluid">
    {% if messages %}
            {% include 'message_alert.html' %}
        {% endif %}

            <div class="card card-primary">
              <div class="card-header">
                <h2 class="card-title"><b>Farmer's Indvidual Details</b></h2>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <form method="POST" action="{% url 'index' %}">
                      {% csrf_token %}
                    <div class="row">
                      <div class="col-12 col-md-3">
                        <div class="input-group input-group-sm">
                          <input
                            type="text"
                            placeholder=" Enter Registration Number"
                            class="form-control"
                            name="search"
                            id="farmer_search"
                          />
                          <span class="input-group-append">
                            <input
                              type="submit"
                              value="Search"
                              class="btn btn-success btn-flat"
                            />
                          </span>
                        </div>
                      </div>
                    </div>
                    </form>
                    <br />
                     <div class="row">
                      <div class="col-12">
                        <div class="card">
                          <div class="card-header bg-light">
                            <h3 class="card-title">
                              All Farmer Details
                            </h3>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                              <thead>

                                <tr>

                                  <th scope="row">Registration ID</th>
                                  <th>Farmers Name</th>
                                  <th>Address</th>
                                  <th>Village</th>
                                  <th>Taluka</th>
                                  <th>District</th>
                                  <th>State</th>
                                  <th>Registration Date</th>
                                  <th>Action</th>
                                </tr>

                              </thead>
                              <tbody>

                                {% for farm_data in data %}
                                <tr>
                                  <td> {{farm_data.id}} </td>
                                  <td> {{farm_data.farmer_name}} </td>
                                  <td>{{farm_data.address}}</td>
                                  <td>{{farm_data.village}}</td>
                                  <td>{{farm_data.taluka}}</td>
                                  <td>{{farm_data.district}}</td>
                                  <td>{{farm_data.state}}</td>
                                  <td>{{farm_data.year}}</td>
                                  <td>

                                  <form class="d-inline" action=" " method="post">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-info btn-sm" value="Edit">
                                    <input type="submit" class= "btn btn-danger btn-sm" value="Delete" disabled>
                                  </form>
                                  </td>
                                </tr>{% endfor %}

                              </tbody>
                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Card 1 End-->
          </div>

          <br>
          <!--Table Row-->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header bg-light">
                  <h3 class="card-title">
                    All Farmer Details
                  </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                    <thead>
                    
                      <tr>
            
                        <th scope="row">Registration ID</th>
                        <th>Farmers Name</th>
                        <th>Address</th>
                        <th>Village</th>
                        <th>Taluka</th>
                        <th>District</th>
                        <th>State</th>
                        <th>Registration Date</th>
                        <th>Action</th>
                        
                      </tr>
                      
                    </thead>
                    <tbody>
                      {% for farmer in farmers %}
                      <tr>
                        <td> {{farmer.id}} </td>
                        <td> {{farmer.farmer_name}} </td>
                        <td>{{farmer.address}}</td>
                        <td>{{farmer.village}}</td>
                        <td>{{farmer.taluka}}</td>
                        <td>{{farmer.district}}</td>
                        <td>{{farmer.state}}</td>
                        <td>{{farmer.year}}</td>
                        <td>

                        <form class="d-inline" action=" " method="post">
                          {% csrf_token %}
                          <input type="submit" class="btn btn-info btn-sm" value="Edit">
                          <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                        </form>
                        </td>
                      </tr>{% endfor %}
                    </tbody>
                  </table>
                </div>
      <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
          <!-- Card 1 End-->
        </div>
    </section>
</div>
{% endblock body %}




