{% extends 'master.html' %} {% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class=""><b></b></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href=" {% url 'index' %} ">Home</a>
            </li>
            <li class="breadcrumb-item active">नवीन शेतकरी नोंदणी</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
            {% if messages %} {% include 'message_alert.html' %} {% endif %}

      <!-- SELECT2 EXAMPLE -->
      <form action=" {% url 'registration' %} " method="post">
        {% csrf_token %}
        <div class="card card-primary">
          <div class="card-header">
            <h2 class="card-title"><b>वैयक्तिक माहिती</b></h2>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-md-3">
                    <label for="farmer_name">शेतकऱ्याचे नाव</label>
                    <input
                      type="text"
                      class="form-control"
                      id="farmer_name"
                      name="farmer_name"
                      placeholder="उ.दा. भीमराव किसन चव्हाण"
                      required
                    />
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <div class="form-group">
                      <label for="address">शेतकर्‍याचा पत्ता</label>
                      <textarea
                        class="form-control"
                        rows="2"
                        name="address"
                        id="address"
                        placeholder="शेतकर्‍याचा पत्ता उ.दा. At. CIDCO N-4 Aurangabad"
                        required
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-2">
                    <label for="Gender">लिंग</label>
                    <div class="form-group">
                      <select
                        class="form-control select2bs4"
                        data-placeholder="Select a Gender"
                        style="width: 100%"
                        name="gender"
                        id="gender"
                        required
                      >
                        <option value="">निवडा</option>
                        <option>पुरुष</option>
                        <option>स्त्री</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-3">
                    <label for="religion">धर्म</label>
                    <div class="form-group">
                      <select
                        class="form-control select2bs4"
                        data-placeholder="Select a Religion"
                        style="width: 100%"
                        name="religion"
                        id="religion"
                        required
                      >
                        <option value="">निवडा</option>
                        <option>Hindu</option>
                        <option>Buddhist</option>
                        <option>Christian</option>
                        <option>Jain</option>
                        <option>Muslim</option>
                        <option>Parsi</option>
                        <option>Sikh</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <label for="Caste">जातीचा प्रवर्ग</label>
                    <div class="form-group">
                      <select
                        class="form-control select2bs4"
                        data-placeholder="Select a Caste"
                        style="width: 100%"
                        name="caste"
                        id="caste"
                        required
                      >
                        <option value="">निवडा</option>
                        <option>General</option>
                        <option>(OBC) Other Backward Class</option>
                        <option>(SBC) Special Backward Class</option>
                        <option>(SC) Scheduled Caste</option>
                        <option>(ST) Scheduled Tribe</option>
                        <option>(VJNT) Vimukt Jat Nomadic Tribe</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-3">
                    <label for="State">राज्य</label>
                    <div class="form-group">
                      <select
                        class="form-control select2bs4"
                        data-placeholder="Select a State"
                        style="width: 100%"
                        name="state"
                        id="state"
                        required
                      >
                        <option value="">निवडा</option>
                        <option>Maharashtra</option>
                        <option>Karnataka</option>
                        <option>Goa</option>
                        <option>Andhrapradesh</option>
                        <option>Sikkim</option>
                        <option>Punjab</option>
                        <option>Bihar</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <label for="District">जिल्हा</label>
                    <div class="form-group">
                      <select
                        class="form-control select2bs4"
                        data-placeholder="Select a District"
                        style="width: 100%"
                        name="district"
                        id="district"
                        required
                      >
                        <option value="">निवडा</option>
                        <option>Aurangabad</option>
                        <option>Nashik</option>
                        <option>Jalgaon</option>
                        <option>Akola</option>
                        <option>Washim</option>
                        <option>Nagpur</option>
                        <option>Jalna</option>
                        <option>Beed</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <label for="Taluka">तालुका</label>
                    <div class="form-group">
                      <select
                        class="form-control select2bs4"
                        data-placeholder="Select a District"
                        style="width: 100%"
                        name="taluka"
                        id="taluka"
                        required
                      >
                        <option value="">निवडा</option>
                        <option>Aurangabad</option>
                        <option>Kannad</option>
                        <option>Soegaon</option>
                        <option>Sillod</option>
                        <option>Phulambri</option>
                        <option>Khuldabad</option>
                        <option>Vaijapur</option>
                        <option>Gangapur</option>
                        <option>Paithan</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <label for="Village">गाव</label>
                    <div class="form-group">
                      <select
                        class="form-control select2bs4"
                        data-placeholder="Select a District"
                        style="width: 100%"
                        name="village"
                        id="village"
                        required
                      >
                        <option value="">निवडा</option>
                        <option>Chittegaon</option>
                        <option>Pimpri</option>
                        <option>Chitte-Pimpalgaon</option>
                        <option>Shendra</option>
                        <option>Nipani</option>
                        <option>Garkheda</option>
                        <option>Adgaon</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-3 form-group">
                    <label for="pincode">पीन </label>
                    <input
                      type="text"
                      class="form-control"
                      name="pincode"
                      id="pincode"
                      required
                      placeholder="पीन - 431007"
                    />
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-3 form-group">
                    <label for="mob">फोन नंबर</label>
                    <input
                      type="tel"
                      class="form-control"
                      name="phone"
                      id="phone"
                      minlength="10"
                      maxlength="13"
                      pattern="+91[7-9]{2}-[0-9]{3}-[0-9]{4}"
                      value="+91"
                      placeholder="फोन नंबर - 9645781523"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card -->
        <!-- /.card 2 -->
        <div class="card card-primary">
          <div class="card-header">
            <h2 class="card-title"><b>तुतीची फार्म तपशील</b></h2>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-md-3">
                    <label for="RegistrationNo">रजिष्ट्रेशन नंबर</label>
                    <input
                      type="text"
                      class="form-control"
                      id="registration_no"
                      name="registration_no"
                      placeholder="01"
                      required
                    />
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <label for="Mulberry Year">तुती लागवडीचे वर्ष</label>
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        name="year"
                        id="year"
                        required
                        placeholder="12-20-2011"
                      />
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <label for="RegistrationReceipt"
                      >तुती लागवड नोंदणी फी जमा पावती क्रमांक.</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="receipt_no"
                      name="receipt_no"
                      placeholder="152"
                      required
                    />
                  </div>
                  <div class="col-md-1"></div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-3">
                    <label for="Area">लागवडीचे क्षेत्र(एकर,गुंठे).</label>
                    <input
                      type="number"
                      class="form-control"
                      name="area"
                      id="area"
                      placeholder="2.5 एकर किंवा 100 गुंठे"
                      required
                    />
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <label for="Survey No">शेत सर्व्हे नंबर</label>
                    <input
                      type="number"
                      class="form-control"
                      name="survey_no"
                      id="survey_no"
                      placeholder="सर्व्हे नंबर - 254"
                      required
                    />
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-12 col-md-3">
                    <label for="Mulberry type">तुतीचे वाण/जात</label>
                    <div class="form-group">
                      <select
                        class="form-control select2bs4"
                        data-placeholder="Select a type"
                        style="width: 100%"
                        name="plant_caste"
                        id="plant_caste"
                        required
                      >
                        <option value="">निवडा</option>
                        <option>Black Mulberry</option>
                        <option>Red Mulberry</option>
                        <option>Morus Alba</option>
                        <option>Morus serrata</option>
                        <option>Morus Australias</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card 2 -->
        <br />

        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-1">
            <input
              type="submit"
              class="btn btn-block btn-success"
              value="जतन करा"
            />
          </div>
          <div class="col-md-1"></div>
          <br />
          <div class="col-md-1">
            <input
              type="reset"
              class="btn btn-block btn-danger"
              value="रद्द करा"
            />
          </div>
        </div>
      </form>
      <br />
      <br />
    </div>
  </section>
</div>
{% endblock body %}
