
{% extends 'master.html' %}
{% block body %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

  <!-- Main content -->
      <section class="content">
          <div class="container-fluid">
    {% if messages %}
            {% include 'message_alert.html' %}
        {% endif %}

            <div class="card card-primary">
              <div class="card-header">
                <h1 class="card-title"><b>Registration Report </b></h1>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                     <div class="row">
                      <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                              <table class="table table-hover text-nowrap">
                                <thead>
                                  <tr>
                                    <th scope="row">Registration ID</th>
                                    <th>Farmers Name</th>
                                    <th>Address</th>
                                    <th>Village</th>
                                    <th>Taluka</th>
                                    <th>District</th>
                                    <th>State</th>
                                    <th>Registration Date</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for farmer in farmers %}
                                  <tr>
                                    <td> {{farmer.id}} </td>
                                    <td> {{farmer.farmer_name}} </td>
                                    <td>{{farmer.address}}</td>
                                    <td>{{farmer.village}}</td>
                                    <td>{{farmer.taluka}}</td>
                                    <td>{{farmer.district}}</td>
                                    <td>{{farmer.state}}</td>
                                    <td>{{farmer.year}}</td>
                                  </tr>{% endfor %}
                                </tbody>
                              </table>
                            </div>
                         <!-- /.card-body -->
                        <!-- /.card -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="col-md-1">
                <input type="submit" class="btn btn-block btn-primary" onclick="window.print()" value="Print">
              </div>
              <br>
            <!-- Card 1 End-->
          </div>

          <br>
          <!--Table Row-->
          </div>
        </div>
      </div>
    </div>
  </div>
          <!-- Card 1 End-->
        </div>
    </section>
</div>
{% endblock body %}




