
{% extends 'master.html' %}
{% block body %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">सर्व सबसिडीचा तपशील</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

  <!-- Main content -->
      <section class="content">
          <div class="container-fluid">
    {% if messages %}
            {% include 'message_alert.html' %}
        {% endif %}

            <div class="no-print mb-5">
              <div class="header">
                <a href="{% url 'report_reg_all' %}" class="ml-1 btn btn-light btn-outline-primary d-inline d-inline-block ml-2 mr-2 mb-2 pl-2 pr-2 pb-2 pt2">शेतकरी नोंदणी तपशील</a>
                <a href="{% url 'report_mull_all' %}" class="ml-1 btn btn-light btn-outline-primary d-inline d-inline-block ml-2 mr-2 mb-2 pl-2 pr-2 pb-2 pt2">अंडीपुंज/चाकी वाटप तपशील</a>
                <a href="{% url 'report_prod_all' %}" class="ml-1 btn btn-light btn-outline-primary d-inline d-inline-block ml-2 mr-2 mb-2 pl-2 pr-2 pb-2 pt2">कोष उत्पादन विक्री तपशील</a>
              </div>
            </div>

            <div class="card card-primary">
              <div class="card-header">
                <h1 class="card-title"><b>कोष अनुदान वितरण तपशील</b></h1>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                     <div class="row">
                      <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-1">
                              <table class="table table-hover text-nowrap text-left table-borderless">
                                <thead>
                                  <tr class="table-active">
                                    <th scope="row">रजिष्ट्रेशन नंबर</th>
                                    <th>शेतकऱ्याचे नाव</th>
                                    <th>अं.पुं.सरासरी उत्पादन कि.ग्र.</th>
                                    <th>अनुदानास पात्र कोषांचे वजन कि.ग्रॅ.</th>
                                    <th>देय अनुदान रक्कम रू.</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for farmer in farmers %}
                                  <tr>
                                    <td> {{farmer.farmer_id}} </td>
                                    <td> {{farmer.farmer}} </td>
                                    <td>{{farmer.sarasari_kosh_kg}}</td>
                                    <td>{{farmer.good_kosh_kg}}</td>
                                    <td>{{farmer.good_kosh_rate}}</td>
                                  </tr>{% endfor %}
                                </tbody>
                              </table>
                            </div>
                         <!-- /.card-body -->
                        <!-- /.card -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="col-md-1 no-print">
                <a class="btn btn-success mb-3 ml-2 btn-block" onclick="window.print()"><i class="fas fa-print"></i> Print</a>
              </div>
              <br>
            <!-- Card 1 End-->
          </div>
          <br>
          <!--Table Row-->
          </div>
        </div>
      </div>
    </div>
  </div>
          <!-- Card 1 End-->
        </div>
    </section>
</div>
{% endblock body %}
